<div class="ten wide column">
    <h1 class="ui header">
        <i class="circular user icon"></i>
        <div class="content">
            <span>{{ 'owl.ui.company'|trans ~': '~ company.name }}</span>
            <div class="sub header">{{ 'owl.ui.show_company'|trans }}</div>
        </div>
    </h1>
</div>
