{% set url = path('owl_admin_suggestion_create') %}

{% if is_granted('owl_admin_suggestion_create') %}
<div class="ui floated simple icon item" tabindex="0">
    <button data-url="{{ url }}" class="ui labeled icon button green ajax-modal-button">
        <i class="icon question"></i>
        Dodaj sugestię
    </button>
</div>
{% endif %}