<a class="item" href="{{ path('owl_admin_dashboard') }}" style="padding: 13px 0;">
    <div style="max-width: 120px; margin: 0 auto; padding: 0 10px 0 10px; background: #fff;">
        <img src="{{ asset('build/admin/images/admin-logo.jpg') }}" class="ui fluid image">
    </div>
</a>
