{{ form_errors(form) }}
<div class="ui one column stackable grid">
    <div class="column">
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.setting) }}
    </div>
</div>