{% set classes = ['ui', 'loadable', 'form'] %}
{% if configuration.vars.form.ajax is defined  %}
    {%- set classes = configuration.vars.form.ajax == true ? classes|merge(['is-ajax']) : classes %}
{% else %}
    {%- set classes = classes|merge(['is-ajax']) %}
{% endif %}


<div class="ui segment">
    {{ form_start(form, {'action': path('owl_admin_setting_index'), 'attr': {'class': classes|join(' '), 'novalidate': 'novalidate'}}) }}
    {% include '@OwlAdmin/Crud/form_validation_errors_checker.html.twig' %}
    {{ form_widget(form) }}

    <div class="ui hidden divider"></div>
    <button class="ui labeled icon primary button save-action" type="submit" name="save_action" value="referer">
        <i class="plus icon"></i> {{ 'owl.form.actions.save'|trans }}
    </button>

    {{ form_end(form, {'render_rest': false}) }}
</div>
