<div class="ui stackable two column grid">
    <div class="column">
        {% include configuration.vars.templates.header_title|default('@OwlAdmin/Setting/System/Index/_headerTitle.html.twig') %}
    </div>
</div>
