<div id="equipment-details-attributes">
    <h4 class="ui top attached large header">{{ 'owl.ui.files'|trans }}</h4>
    <div class="ui attached segment">
        {% include '@OwlAdmin/File/_list.html.twig' with {'update_file_route': 'owl_admin_equipment_file_update', 'paramSubject': 'equipmentId', 'files' : equipment.files, 'withActions': false} %}
    </div>
</div>