<div class="fields">
    {{ form_row(form.date, {row_attr: { wrap_field_classes: 'five wide' }}) }}
    {{ form_row(form.dateNotify, {row_attr: { wrap_field_classes: 'five wide' }}) }}
</div>
{{ form_row(form.description) }}




