<div class="sixteen wide column">
    <h1 class="ui header">
        <i class="circular user icon"></i>
        <div class="content">
            <span>{{ equipment.name|default('owl.ui.equipment'|trans) }}</span>
            <div class="sub header">{{ 'owl.ui.show_equipment'|trans }}</div>
        </div>
    </h1>
</div>