{% 
    set add_url = path(
        'owl_admin_ajax_admin_user_permission_assign',
        { id: user.id }
    )
%}
{%
    set remove_url = path(
        'owl_admin_ajax_admin_user_permission_revoke',
        { id: user.id }
    )
%}

<div 
    id="list-permissions" 
    data-add-url="{{add_url}}" 
    data-add-with-form-data="true" 
    data-remove-url="{{remove_url}}" 
    data-remove-with-form-data="true" 
    class="ui stackable grid"
>
    {% for name, form in forms %}
        {% include '@OwlAdmin/User/Permission/Content/_item_accordion.html.twig' %}
    {% endfor %}
</div>
