<div class="ui tab" data-tab="files">
    <h3 class="ui top attached header">{{ 'owl.ui.files'|trans }}</h3>

    <div class="ui attached segment">
        <div 
            class="uploader dropzone" 
            data-name="equipment-files"
            data-url="{{ path('owl_admin_equipment_file_create', { 'equipmentId': 'param_id' }) }}" 
            id="equipment-files">
        </div>
        <br />
        {% include '@OwlAdmin/File/_list.html.twig' with {'update_file_route': 'owl_admin_equipment_file_update', 'paramSubject': 'equipmentId', 'files' : model.files} %}
    </div>
</div>